FIREBASE_PROJECT_ID=autodoc-ai-89790
FIREBASE_MESSAGING_SENDER_ID=853439919740
FIREBASE_STORAGE_BUCKET=autodoc-ai-89790.firebasestorage.app
FIREBASE_AUTH_DOMAIN=autodoc-ai-89790.firebaseapp.com

FIREBASE_WEB_API_KEY=your-web-api-key
FIREBASE_WEB_APP_ID=your-web-app-id

FIREBASE_ANDROID_API_KEY=your-android-api-key
FIREBASE_ANDROID_APP_ID=your-android-app-id

FIREBASE_IOS_API_KEY=your-ios-api-key
FIREBASE_IOS_APP_ID=your-ios-app-id
FIREBASE_IOS_BUNDLE_ID=com.example.autodocAi

FIREBASE_WINDOWS_APP_ID=your-windows-app-id
